@import 'base'

/*Variables*/
$c_selected_object = #0f6d2e
$c_hover_object = #888a85

/*Mixins*/
hoverSlide()
    border 6px dotted $first_color
    cursor move

selectedSlide()
    border 6px solid $first_color

iconBtn()
    padding 0px 10px 0px 10px
    line-height 0px
    background-color $third_color
    color $first_color
    position absolute
    font-size 3em
    z-index 1

    &:hover
        color $link_hover_color

optionsPanel()
    background-color $third_color
    border-radius 0px 0px 10px 10px
    z-index 1
    position absolute

    .button
        position relative
        background-color $third_color
        border-radius 5px
        /*float left*/
        margin-left 6px
        margin-right 6px
        margin-top 8px
        margin-bottom 8px
        font-size 2.4em
        padding-left 10px
        padding-right 10px
        padding-top 2px
        padding-bottom 2px

        &:hover
            color $btn_hover_color

    &:hover
        color $link_hover_color

.grid:after{
    background: url(/static/img/grid.png);
    opacity: 0.25;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index -1
    content: "";
}

.non-selectable-text
    user-select none

.slide-number-icon
    background-color $first_color
    padding 10px 20px 10px 20px
    color white
    font-weight bold
    font-size 50px
    border-radius 0px 0px 20px
    position absolute


#loading-screen
    background-color #FFFFFF
    height 100%
    position fixed
    width 100%
    z-index 2

    #loading-icon
        display block
        margin-left auto
        margin-right auto
        margin-top 10%
        width 15%

#slides-bar
    position absolute
    overflow auto
    float left
    width 10%
    height 100%
    user-select none
    background-color $third_color
    z-index 1

    #slides-list
        list-style none
        margin-top 6px
        margin-left 3px
        margin-right 3px

        .slide-mini
            height 100px
            margin-bottom 15px

            &.selected
                border 3px solid $first_color

            .btn-delete
                display none

                canvas
                    border-radius 8px

            &:hover
                border 2px solid $first_color

                .btn-delete
                    display block
                    position absolute
                    z-index 1
                    color $delete_color
                    font-size 1.3em

#btn-add-slide
    left 11%;
    top 1%
    font-size 4em
    iconBtn()

#btn-navigation-mode
    left 11%;
    top 12%
    font-size 4em
    iconBtn()

#btn-slide-background-color
    font-size 3em
    bottom 12%
    left 11%
    padding 0 8px
    iconBtn()

#btn-slide-notes
    font-size 3em
    bottom 12%
    left 16%
    padding 0 8px
    iconBtn()

#btn-zoom-in
    font-size 3em
    bottom 42%
    left 11%
    padding 0 8px
    display none
    iconBtn()

#btn-zoom-out
    font-size 3em
    bottom 33%
    left 11%
    padding 0 8px
    display none
    iconBtn()

#btn-exit-preview-mode
    position absolute
    right 2%
    top 1%
    z-index 1

#btn-edit-presentation
    font-size 4em
    iconBtn()

#btn-delete-slide
    font-size 4em
    iconBtn()

#right-panel
    position absolute
    right 0
    bottom 0
    height 100%
    width 15%
    background-color $third_color
    z-index 1

    #btn-preview-presentation
        iconBtn()
        position relative
        width 100%
        padding-top 10px

        img
            width 80px

    ul#main-menu
        li
            border-radius 12px 0px 0px 12px
            text-align center
            padding-top 5%
            padding-bottom 5%

            a
                font-size 1.2em

                &:hover
                    color $btn_hover_color

    #collaborators-title
        color $second_color

    #collaborative
        #user-list
            list-style none

            .user
                background-color $second_color
                width 15%
                text-align center
                font-size 1.3em
                border-radius 8px
                float left
                margin-left 3px
                margin-right 3px

        #chat
            #chat-messages
                height 145px
                overflow-y auto

                #message-list
                    list-style none

                    .message
                        color $second_color

            #chat-form
                #message-text
                    margin 0px
                    border-radius 8px

#new-component-box
    optionsPanel()

    left 22%

    #text-dropdown
        a
            padding 15px
            &:hover
                opacity 0.6
        #btn-add-title
            font-size 3em
        #btn-add-subtitle
            font-size 2em
        #btn-add-body
            font-size 1.5em

#toolbox-container
    optionsPanel()

    right 22%

    #bold-btn
        margin-left 35px

    #link-btn
        margin-left 35px

#slide-options
    position absolute
    optionsPanel()
    right 22%

    label
        color white
        font-weight bold
        margin-left 30%
        margin-top 7px
        margin-bottom 15px

    #change-size
        margin-top 3%

    #btn-delete-slide
        &:hover
            color #b43636

/* Slide */
.step
    border 1px dotted #808080

    &.hoverable
        &:hover
            hoverSlide()

    /* When a slide is selected */
    &.selected
        selectedSlide()

    &.borderless
        border none

/*Component*/
.component
    white-space nowrap
    padding 4px
    position absolute
    padding-top 1px
    padding-left 1px

    .component-options
        position absolute
        font-size 45px
        transform translate(-48px, -12px)
        z-index 1

        .btn-edit-text
            display block

        .btn-delete-component
            display block

            &:hover
                color #b43636

    .component-text-tools
        position absolute
        top -45px
        background-color #808080
        z-index 1

    .text-placeholder
        position absolute
        color #949494

#themes-window
    overflow-y auto
    height 520px

    selectedTheme()
        border 2px solid $first_color

    .theme-item
        position relative
        text-align center
        border 2px solid white

        &:hover
            selectedTheme()

        .btn-delete-theme
            position absolute
            color $delete_color
            top 0px
            right 15px

        &.selected
            selectedTheme()

#edit-theme-window
    height 100%
    top 5%

    #theme-preview
        height 350px
        user-select none

    #css-editor
        display none

        #id_extra_css_code
            height auto
            margin-top 30px

.image
.video
    .btn-image-resizer
        display none
        position absolute
        right -45px
        bottom -80px;
        color $first_color
        font-size 4.5em
        transform rotate(-45deg)
