@import 'base'

.side-nav
	li.active > a
		&:first-child
			font-weight bold
			color $first_color

.presentation
	.presentation-option
		font-size 2em

	.btn-delete-presentation
		color #880f0f

	.title
		font-weight bold

	&:hover
		.title
			color $first_color