@font-face {
	font-family: 'icon';
	src:url('../fonts/icon/icomoon.eot?-jnvzb9');
	src:url('../fonts/icon/icomoon.eot?#iefix-jnvzb9') format('embedded-opentype'),
		url('../fonts/icon/icomoon.woff?-jnvzb9') format('woff'),
		url('../fonts/icon/icomoon.ttf?-jnvzb9') format('truetype'),
		url('../fonts/icon/icomoon.svg?-jnvzb9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}