@import 'base'
@import 'icons'

.play-icon
	content ""
	border-left 7px solid transparent
	border-right 7px solid white
	border-top 9px solid transparent
	display inline-block
	margin-left .4em
.sign-up
	margin 1px 10px 0 0
#welcome-index
	background-color $third_color
	height 75%
	padding 2em
	h1
		font-family 'bebas'
		color white
		font-size 10em
		text-align center
	h2
		font-family 'bebas'
		color $first_color
		margin-top -1.8em
		text-align center
	#slide-box
		background-color white
		height 50%
	#btn-box
		padding 4em 0 4em 0
		text-align center
		#btn-begin
			background-color $first_color
			box-shadow 1px 6px $shadow_color
			font-size 2.6em
			text-align right
			color white
			padding .5em 0 .5em .5em
			font-family 'futura-condensed'
			font-weight regular
			text-transform uppercase
			border-radius 4px
			margin-bottom 0px
			transition-duration 0.2s
			.play-box
				background-color $second_color
				padding .5em
				border-radius 0 4px 4px 0
			&:hover
				box-shadow 0px 0px 5px 5px $first_color

#triangle
	text-align center
	.detail
		content ""
		border-left 67px solid transparent
		border-right 67px solid transparent
		border-top 30px solid $third_color
		display inline-block
		margin-left .4em
#more
	text-align center
	p
		font-family 'neris'
		font-size 2em
		margin-bottom 0
		span
			color $first_color
#more-link
	font-size 5em
	color $third_color
.feature
	padding-top 20px
	padding-bottom 20px
	&.even
		background-color #E8EAEA
	&.odd
		background-color white
	img
		display block
		margin-left auto
		margin-right auto

.sections
	padding 5em 0 5em 0
	h1
		font-family 'neris'
	p
		font-family 'neris'
		color $paragraph_color
		font-size 1.5em
@media screen and (max-width:715px)
	body
		font-size 14px
@media screen and (max-width:570px)
	#welcome-index
		padding 2em 0 2em 0
		h1
			font-size 9em
@media screen and (max-width:570px)
	.sign-up
		margin 0
	#btn-sign-up
		border-radius 0
@media screen and (max-width:570px)
	#welcome-index
		h1
			font-size 8em
@media screen and (max-width:420px)
	#welcome-index
		h1
			font-size 7em
		h2
			margin-top -1.1em
	#more
		p:nth-child(1)
			line-height 30px

