{% load i18n %}
<html>
	<head>

	</head>
	<body>
		<img src="http://{{host}}{{STATIC_URL}}img/logo.png" alt="Dyapos" width="200px" />
		<h1>{% trans 'Password recovery' %}</h1>

		<p>{% trans 'Hi' %} {% if person.first_name or person.last_name%}{{person.first_name}} {{person.last_name}}{% else %}{{person.username}}{% endif %}</p>
		<p>{% trans 'You requested a password reset.' %}</p>
		<p>{% trans 'To reset your password, open the following link and enter your new password:' %}</p>
		<p><a href="http://{{host}}{% url 'password-reset' person.reset_password_key %}">http://{{host}}{% url 'password-reset' person.reset_password_key %}</a></p>
		<hr />
		<p>{% trans "If you didn't request a password reset, please ignore this email." %}</p>
	</body>
</html>