{% extends "base_home.html" %}
{% load i18n %}

{% block includes %}
<title>{% trans 'Change password' %}</title>
<link href="{{STATIC_URL}}css/change_password.css" rel="stylesheet" />
{% endblock %}

{% block home_content %}

<div class="row">
	<h1>{% trans 'Change password' %}</h1>
</div>
<div class="row">
	<div class="large-7 columns">
		<div class="panel">
			<form method="post" action="{% url 'password-change' %}">
				{% csrf_token %}
				{{form.non_field_errors}}
				<label for="old_password">{% trans 'Old password' %}</label>
				{{form.old_password.errors}}
				{{form.old_password}}
				<label for="old_password">{% trans 'New password' %}</label>
				{{form.new_password.errors}}
				{{form.new_password}}
				<label for="new_password_repeat">{% trans 'Repeat new password' %}</label>
				{{form.new_password_repeat.errors}}
				{{form.new_password_repeat}}
				<button>
					{% trans 'Change password' %}
				</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
