{% extends "base_home.html" %}
{% load i18n %}

{% block includes %}
<title>{% trans 'Recover password' %}</title>
<link href="{{STATIC_URL}}css/recover_password.css" rel="stylesheet" />
{% endblock %}

{% block home_content %}

<div class="row">
	<div class="large-12 columns">
		<h1>{% trans 'Recover password' %}</h1>
	</div>
</div>
<div class="row">
	<div class="large-5 columns">
		<form action="/recover-password" method="post">
			{% csrf_token %}
			{{ form }}
			<button>
				{% trans 'Send recover email' %}
			</button>
		</form>
	</div>
</div>
{% endblock %}
