{% extends 'base_home.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block includes %}
<title>{% trans 'Reset password' %}</title>
<link href="{{STATIC_URL}}css/reset_password.css" rel="stylesheet" />
{% endblock %}

{% block home_content %}
<div class="row">
<h1>{% trans 'Reset password' %}</h1>
<form action="{% url 'password-reset' key %}" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit" class="button" value="{% trans 'Reset password' %}"/>
</form>
</div>
{% endblock %}
